<script type="text/javascript" > $(document).on("ready", signIn);</script>
{% extends "base.html" %}
{% block content %}
  <h1 style="text-align: center">Welcome!</h1>
  <h3 style="text-align: center">This is personal notes editor application.</h3>
  <br>
  <br>
  <br>
{% endblock %}
    {% block auth %}
          <button class='signIn'>Sign in</button>
          <br>
          <br>
          <p>Not registered? Please sign up.</p>
          <button class='signUp'>Sign up</button>
    {% endblock %}



    {% block script %}
            <script type="text/javascript" src="static/js/auth.js"></script>
    {% endblock %}
